%nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{href: root_path}='Tetty'
    %button.navbar-toggler{type: 'button', 'data-bs-toggle': 'collapse'}
      %span.navbar-toggler-icon
    %div.collapse.navbar-collapse{id: 'navbarNav'}
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{href: root_path }='Home'
        %li.nav-item
          %a.nav-link{href: ranking_index_path }='Rankings'
        %li.nav-item
          %a.nav-link{href: about_path }='About'
