= link_to "Home", root_path
= link_to "Rankings", ranking_index_path
= link_to "About", about_path
%nav.navbar.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{href: root_path}='Tetty'
    %div.collapse.navbar-collapse{id: 'navbarNav'}
      %ul.navbar-nav
        %li.nav-item
